*{
    user-select: none;
}

.calendarPage{
    width: calc(100vw - 50px);
}

.centerBox{
    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 20px;
    margin-bottom: -20px;

    height: 180px;
    width: 100%;
    background-color: #526E42;
    background: linear-gradient(#526E42, #48613ab5, #7ca565, transparent);
}
.pattern{
    position: fixed;
    width: calc(100vw - 50px);
    height: 180px;
    z-index: 0;


    background-color: none;
    opacity: 1;
    background-image: radial-gradient(#A5CE8E 2px, transparent 1px);
    background-size: 20px 20px;
}

.switchMonth{
    display: flex;
    justify-content: space-around;
    align-items: center;

    z-index: 2;
    
    height: 70px;

    width: 530px;
    background-color: #FFFFFF;
    border-radius: 8px;
}
.switchMonth button{
    cursor: pointer;

    background: none;
    border: none;
    border-radius: 10px;

    height: 50px;
    width: 50px;
}
.switchMonth button:hover{
    color:#526E42;
}


.currentDate{
    font-size: 40px;
    padding: 20px;
    text-align: center;
    margin-left: -20px;

    width: 300px;

}

.weekDays{
    display: grid;
    grid-template-columns: repeat(7, 1fr);


    gap: 16px;
    margin-left: 16px;
    margin-right: 16px;

    font-size: 20px;
}
.Пн, .Вт, .Ср, .Чт, .Пт, .Сб, .Вс{

    background-color: #5b775d;
    background-color: #526E42;
    color: white;

    text-align: center;

    border-radius: 6px;
    padding: 5px 0 5px 0;

    margin-bottom: -10px;

    width: 235px;
}

.Сб, .Вс{
    color: rgb(255, 119, 119);
}

.daysList{
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    gap: 18px;
    
    max-height: 600px;
    

    margin-top: 20px;
    margin-left: 16px;
    margin-right: 16px;
}

.daySlot{
    background-color: #EFFFF0;
    border-radius: 12px;
    cursor: pointer;

    width: 235px;
    height: 100px;

    min-width: 120px;
    min-height: 70px;

    max-width: 235px;
    max-height: 100px;
    
    display: flex;

    justify-content: space-between;
}
.daySlot:hover{
    transition: 0.1s;
    background-color: #77c57d;
}


/* Основная информация (день и список событий) */
.daysList .mainInfo{
    color: #2C322E;

    display: flex;
    flex-direction: column;

    justify-content: space-around;

    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}
/* Список событий */
.daysList .eventsList{
    font-size: 15px;
    font-weight: 550;


    display: grid;
    gap: 5px;

    grid-template-columns: repeat(2, 1fr); 
    color: #048304;
}

.daySlot .stats{
    display: flex;

    margin-right: 15px;
    margin-left: -20px;
    margin-top: 10px;
}
.notesCount, .ToDoCount, .eventsCount{
    font-weight: bold;
    text-align: center;
    
    background-color: #048304;
    padding: 4px;
    border-radius: 100%;
    margin-left: -5px;

    height: 20px;
    width: 20px;
}
.notesCount{
    background-color: #1ECE1E;
}
.ToDoCount{
    z-index: 1;
    background-color: #E0F240;
}
.eventsCount{
    background-color: #FF6669;
}


.nonActiveDay{
    background-color: #527155;
}
.nonActiveDay .mainInfo{
    color: #EFFFF0;
}
.nonActiveDay .eventsList{
    color: #51FF51;
}


.calendarBottom{    
    margin-top: 26px;

}

.calendarBottom hr{
    height: 5px;

    margin: 16px 16px;

    color: #2C322E;
    background-color: #527155;
    border: none
}

.calendarBottom button{
    background-color: white;
    cursor: pointer;

    text-align: left;
    font-weight: 600;
    font-size: 18px;

    border: none;
    border-radius: 8px;

    width: 235px;
    height: 60px;
    
    padding: 9px;
    margin-top: 26px;
    margin-left: 16px;

    display: flex;
    justify-content: space-between;
}
.calendarBottom .plus{
    color: white;
    background-color: black;

    width: 25px;
    height: 25px;

    margin-top: 15px;

    border-radius: 7px;
    padding: 2px;
}